{{ define "main" }}
    {{- if .Content }}
    <div class="home-intro">
        {{- .Content -}}
    </div>
    {{- end }}

    {{- $latestPosts := first 4 (where site.RegularPages "Type" "posts") -}}
    {{- if $latestPosts }}
    <section class="home-latest">
        <h2>Latest Posts</h2>
        <div class="home-latest-list">
            {{- range $latestPosts }}
            <article class="home-latest-item">
                <time class="home-latest-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
                <a class="home-latest-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </article>
            {{- end }}
        </div>
        <p class="home-latest-more"><a href="/archives/">View all posts &rarr;</a></p>
    </section>
    {{- end }}

    {{- partial "footer/footer" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}